<%= form_for(@test01) do |f| %>
  <% if @test01.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test01.errors.count, "error") %> prohibited this test01 from being saved:</h2>

      <ul>
      <% @test01.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
