{
 "success": true,
 "items": [
 {
 	xtype: 'panel',
 	layout: 'fit', flex: 1,
 	title: 'Articoli Mc',
 	closable: true, 	
 	items: [
		  {
		    xtype: 'grid',
		    
			viewConfig: {
			    enableTextSelection: true
			},
	
			flex: 1, autoHeight: true, padding: 10, overflow: 'auto', height: 500,
		    
		    store: new Ext.data.Store({
		    	autoLoad: true,
		    	fields: [],
		    	proxy: {
		            url: 'products/get_rows_mc',
		            reader: {
		                type: 'json',
						method: 'POST',        	                
		                rootProperty: 'items'
		            },
		            paramsAsJson: true,
					method: 'POST',
					type: 'ajax',
		
					//Add these two properties
					actionMethods: {
						read: 'POST'
					}        	            
		            
		        }
		    }),
		
		    columns: [
		       { text: 'mc-Id',  dataIndex: 'mc_id' }
		       , { text: 'Nome',   dataIndex: 'name', flex: 1 , renderer: function(value, metaData, rec, rowIndex, colIndex, store) {
		        		if ( Ext.isEmpty(rec.get('product_id')) == true )
			         		return '<span style="color: red">' + value + '</span>';
						return '<span style="color: green">' + value + '</span>';			         		
			        }		 
			   }
			   , { text: 'Prodotto',  dataIndex: 'product_id' }
			   , { text: 'CanaleId',  dataIndex: 'channel_id' }
		    ],
		    
		    listeners : {
						    itemdblclick: function(dv, rec, item, index, e) {						    	
						    	acs_show_panel_std(dv.up('tabpanel'), '<%= url_for(:controller => 'products', :action=>'product_mc_edit') -%>', {rec_id: rec.get('id')});						    	
						    }, scope: this
						},

			dockedItems:[{
			    xtype:'toolbar',
			    dock:'top',
			    items:[			    
			      {
			        xtype:'button',
			        text:'Articoli',
			        pressed:false,
			        handler: function(){
			        	acs_show_panel_std(this.up('tabpanel'), '<%= url_for(:action=>'product_list') -%>');
			        }
			      }, {
			        xtype:'button',
			        text:'Stat. Venduti',
			        pressed:false,
			        handler: function(){
			        	acs_show_panel_std(this.up('tabpanel'), '<%= url_for(:action=>'product_stat_list') -%>');
			        }
			      }, {
			        xtype:'button',
			        text:'Stat. Venduti (ultimi 7gg)',
			        pressed:false,
			        handler: function(){
			        	acs_show_panel_std(this.up('tabpanel'), '<%= url_for(:action=>'product_stat_list', :filter => 'l7d') -%>');
			        }
			      }, {
			        xtype:'button',
			        text:'Stat. Venduti (ultimo g)',
			        pressed:false,
			        handler: function(){
			        	acs_show_panel_std(this.up('tabpanel'), '<%= url_for(:action=>'product_stat_list', :filter => 'l1d') -%>');
			        }
			      }, {
			        xtype:'button',
			        text:'Pivot',
			        pressed:false,
			        handler: function(){
			        	acs_show_panel_std(this.up('tabpanel'), '<%= url_for(:action=>'products_pivot') -%>');
			        }
			      }
			      
			    ]
			}] 
	
		    
		  },
		  
		 
		 
		 
		 
	]
  }
 ]
}
